* {
  margin: 0;
  padding: 0;
  border: none;

  box-sizing: border-box;
}

body {
  font-size: 16px;
  background-color: black;
  color: yellow;
}

a {
  color: thistle;
  font-size: 4em;
  text-decoration: none;
  cursor: grab;
}

.hidden {
  display: none;
}
